@font-face {
  font-family: "Nanum Square EB";
  src: url("/fonts/NanumSquareEB.ttf") format("truetype");
}

@font-face {
  font-family: "Nanum Square B";
  src: url("/fonts/NanumSquareB.ttf") format("truetype");
}

@font-face {
  font-family: "Nanum Square R";
  src: url("/fonts/NanumSquareR.ttf") format("truetype");
}

@font-face {
  font-family: "Nanum Square L";
  src: url("/fonts/NanumSquareL.ttf") format("truetype");
}

@font-face {
  font-family: "Nanum Square acEB";
  src: url("/fonts/NanumSquare_acEB.ttf") format("truetype");
}

@font-face {
  font-family: "Nanum Square acB";
  src: url("/fonts/NanumSquare_acB.ttf") format("truetype");
}

@font-face {
  font-family: "Nanum Square acR";
  src: url("/fonts/NanumSquare_acR.ttf") format("truetype");
}

@font-face {
  font-family: "Nanum Square acL";
  src: url("/fonts/NanumSquare_acL.ttf") format("truetype");
}

main {
  background: #fff;
  position: relative;
}

html,
body,
p {
  padding: 0;
  margin: 0;
  font-family: "Nanum Square B";
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}
